var path = require('path')
var webpack = require('webpack')

module.exports = {
  entry: [
    'webpack-dev-server/client?http://localhost:3000',
    './app/root.js'
  ],
  output: {
    path: path.join(__dirname, 'dist'),
    filename: 'bundle.js',
    publicPath: '/dist/'
  },
  module: {
    loaders: [
      { test: /\.js$/, include: path.join(__dirname, 'app'), loaders: ["babel"] },
      { test: /\.json$/, loader: "json-loader" }      
    ]
  },
  plugins: [
    new webpack.HotModuleReplacementPlugin()
  ]
}